
<STYLE>
<!--
BODY
{ color:#000000;
  background-color:#d0d0d0;
  scrollbar-face-color:#A8DDA0;
  scrollbar-arrow-color:#FFFFFF;
  scrollbar-track-color:#EBFFED;
  scrollbar-shadow-color:#000000;
  scrollbar-highlight-color:#000000;
  scrollbar-3dlight-color:#808080;
  scrollbar-darkshadow-Color:#202020;
}
-->
</STYLE>
