
 <body>P.class1 {font-size:13; font:arial; color:green; border-width: 1; border: solid; text-align: center} Table.class2 {BACKGROUND-COLOR: #e7eaf2; font-size:12; font:arial; color=black; text-align: center} Table.class3 {font-size:12; font:arial; } </body>
